$monitorWidth: 95vw;
$monitorHeight: 95vh;
$screenWidth: 465px;
$screenHeight: 415px;
$screenTop: 50%;

.command-bg {
    background-image: url("../../images/command-bg-1.jpg");
    background-size: cover; // Ensure the whole image is visible
    background-repeat: no-repeat;
    background-position: center center; // Keep the image centered
    width: 100vw; // Full viewport width
    height: 100vh; // Full viewport height
    position: absolute;
    top: 0;
    left: 0;
}

.main-monitor {
    background-image: url("../../images/monitor-green-nokeyboard-stickers.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: $monitorWidth;
    height: $monitorHeight;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--trans {
        background-image: url("../../images/monitor-trans-nokeyboard-stickers.png");
        pointer-events: none;
        touch-action: none;
        user-select: none;
    }
}

.main-monitor-inner {
    position: absolute;
    top: $screenTop;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $screenWidth;
    height: $screenHeight;
    //border: 1px solid #ccc; // Just for visibility

    .responsive-text {
        font-size: 2vw; // Scales text size based on viewport width
        color: #333;
        text-align: center;
    }

    .monitor-inner-boundary {
        left: -200px;
        top: -250px;
        position: absolute;
        //background: red;
        width: 870px;
        height: 780px;
    }
}

.monitor-title {
    max-width: 500px;
    position: absolute;
    top: 40px;
    left: -40px;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
}

.logged-text {
    font-family: "Pixelated MS Sans Serif",Arial;
    font-weight: 700;
    letter-spacing: 0;
    color: #e9e9e9;
    position: absolute;
    top: 152px;
    left: 540px;
    font-size: 1.4rem;
    transform: rotate(-15deg);
}

.window-launch {
    top: 330px;
    left: 180px;
}

.window-map {
    top: 530px;
    left: 215px;
}

.window-country-stats {
    top: 280px;
    left: 580px;
    height: 200px;
    width: 188px;
}

.window-cmd {
    left: 300px;
    top: 400px;
    
}

.window-draggable {
    touch-action: none;
    user-select: none;
    z-index: 1;
}

.monitor-thumb {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
        opacity: 0.8;
    }
    &--launch {
        top: -140px;
        left: -125px;
        background-image: url("../../images/icon-launch.png");
    }
    &--map {
        top: -63px;
        left: -125px;
        background-image: url("../../images/icon-map.png");
    }
    &--cmd {
        top: 21px;
        left: -125px;
        background-image: url("../../images/icon-cmd.png");
    }
    &--table {
        top: 100px;
        left: -125px;
        background-image: url("../../images/icon-table.png");
    }
    &--profile {
        top: -140px;
        left: 540px;
        background-image: url("../../images/icon-profile.png");
    }
}

.thumb-title {
    color: #e9e9e9;
    font-family: "Pixelated MS Sans Serif",Arial;
    letter-spacing: 0;
    position: absolute;
    top: 57px;
    right: 8px;
    font-size: 1.2em;
}

#terminal {
    position: absolute;
    width: 500px; /* Set a fixed width */
    height: 250px; /* Set a fixed height */
    background-color: black; /* Background color of the terminal */
    color: white; /* Text color */
    border: 1px solid #333; /* Optional border */
    padding: 10px; /* Padding inside the terminal */
    box-sizing: border-box; /* Ensures padding doesn't affect overall dimensions */
    overflow: hidden; /* Adds a scrollbar if content overflows */
    font-family: 'Courier New', Courier, monospace; /* Font for the terminal */
    * {
        overflow-x: hidden;
    }
}

.xterm-viewport {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.window-open {
    filter: grayscale(100%);
}


.lcd-lines {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(var(--bg-color-start), var(--bg-color-end));
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: repeating-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 0.5em);
        opacity: 0.3;
        pointer-events: none;
        touch-action: none;
        user-select: none;
    }
}

// Additional media queries if necessary
@media (max-width: 1024px) {
    .main-monitor .inner-element .responsive-text {
        font-size: 3vw; // Larger text for smaller screens
    }
}

@media (min-width: 1921px) {
    .main-monitor .inner-element .responsive-text {
        font-size: 1.5vw; // Smaller text for larger screens
    }
}
