// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css/normalize";
@import "./vendor/98";

// Site Mixins, Variables and Fonts here
@import "./mixins";
@import "./styles";
@import "./fonts";

@import "./modules/main-monitor";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Print layout here
@media print {
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(var(--bg-color-start), var(--bg-color-end));
}

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 0.5em);
	opacity: 0.3;
}