// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css/normalize";
@import "./vendor/98";
@import "./vendor/xterm";

// Site Mixins, Variables and Fonts here
@import "./mixins";
@import "./styles";
@import "./fonts";

@import "./modules/main-monitor";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Print layout here
@media print {
}