extends ../../layouts/base

block config
  - pageTitle = ''
  - page = ''
  - isHome = true

block navbar
  include ../../components/layout/navbar/navbar

block content

  h1 Hello World

block footer
  include ../../components/layout/footer/footer